body{
    background: url(/Users/bethany/Desktop/Week-01-Hw/hw-1-recommended/45degreee_fabric.png) repeat center center fixed; 
}
nav {
    height: 67px;
    border-bottom-style: solid 3px;
    border-bottom-color: #cccccc;
}
    
.navbar-brand{
    
    background: #4aaaa5;
    margin-top: 0;
    margin-left: -27px;
    text-align: center;

}
#govt{
    font-family:'Georgia', Times, Times New Roman, serif;
    font-size: 25px;
    color: rgb(250, 243, 243);
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
}
.navbar{
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-bottom:0;
}

.container{
    box-sizing: content-box;
    border-style: solid;
    border-color: #dddddd;
    border-width: 2px;
    width: 960px;
    background: #ffffff;
    color: #777777;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}


.row--one{
    
    color: #4aaaa5;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom:15px;
}

img {
    padding-left: 15px;
}
p {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    
}
#side {
    margin-left:auto;
}
#under {
    padding-left: 15px;
}
/* index2 */
.art{
    padding: 15px;
    position:relative;
    width:100%;
}

.specs{
    position:absolute;
    background: #4aaaa5;
    padding: 10px;
    margin-left: 15px;
    color: rgb(250, 243, 243);
   
}
.centered{
    display: block;
    width: 75%;
    overflow: hidden;
    position: absolute;
    top: 75%;
    left: 50%;
  transform: translate(-50%, -50%);
}
.footer{ 
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height:30px;
        background: #666666;
        border-top: 8px solid #4aaaa5;
}



   
/* index 3 */
.container--one{
    box-sizing: content-box;
    width: 800px;
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding:15px;
    padding-left: 25px;
    
}

.btn {
    background: #4aaaa5;
    border-color: #4aaaa5;
}

.nest{
    position: relative;
  text-align: center;
}
